<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093609987643-kmuk23o3k020m4hqc8lmqoqef25933vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093609987643-kmuk23o3k020m4hqc8lmqoqef25933vn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1093609987643-c3hivn2ce08ekgg2plvq60at9apuq7om.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDApe7ippgHFxdIfwVnegseNyPMa6SE4qM</string>
	<key>GCM_SENDER_ID</key>
	<string>1093609987643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SpiritSummoner.Firebase</string>
	<key>PROJECT_ID</key>
	<string>spirit-summoner-679be</string>
	<key>STORAGE_BUCKET</key>
	<string>spirit-summoner-679be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093609987643:ios:b0341163b0ccffb9e7061e</string>
	<key>DATABASE_URL</key>
	<string>https://spirit-summoner-679be-default-rtdb.firebaseio.com</string>
</dict>
</plist>